body{
    overflow-x: hidden; /* Prevent horizontal scrolling */
    min-width: 320px;
}

.btn-danger{
    font-size: 13pt !important;
    font-weight: 500 !important;
}

/*Responsive media queries*/
@media(min-width: 800px) { /*responsive text for large screen sizes*/
    #carouselExample .carousel-item {
        height: 90vh !important;
    }
    #clientReviewsCarousel .carousel-control-prev,
    #clientReviewsCarousel .carousel-control-next {
        margin-left: -100px !important;
        margin-right: -100px !important;  
    }
    h2{
        font-size: 45px !important;
    }
}

@media (max-width: 800px) { /*responsive text for small screen sizes*/
    #carouselExample .slider-text h1 {
        font-size: 45px;
    }
    #carouselExample .slider-text p{
        font-size: 16px;
    }
    #carouselExample .slider-text{
        position: aboslute;
        top: 40%;
    }
    #carouselExample .slider-text .btn-danger{
        font-size: 14px;
    }
    h2{
        font-size: 35px !important;
    }
    #carouselExample button.carousel-control-prev, 
    #carouselExample button.carousel-control-next {
        margin-top: 20% !important;
    }
    #carouselExample .carousel-item {
        height: 90vh !important;
    }
}

@media (max-width: 550px) { /*responsive text for small screen sizes*/
    #carouselExample .slider-text h1 {
        margin-top: 30% !important;
        font-size: 30px;
    }
    #carouselExample .slider-text p{
        font-size: 14px;
    }
    #carouselExample .slider-text{
        position: aboslute;
        top: 30% !important;
    }
    #carouselExample .slider-text .btn-danger{
        font-size: 12px;
    }
    h2{
        font-size: 30px !important;
    }
    #carouselExample button.carousel-control-prev, 
    #carouselExample button.carousel-control-next {
        margin-top: 40% !important;
    }
    #carouselExample .carousel-inner .carousel-item img {
        height: 70vh !important;
    }
    #carouselExample .carousel-item{
        height: fit-content !important;
    }
}

@media (max-width: 320px) { /*responsive text for small screen sizes*/
    #carouselExample .slider-text h1 {
        font-size: 25px;
    }
    #carouselExample .slider-text p{
        font-size: 12px;
    }
    #carouselExample .slider-text{
        position: absolute;
        top: 25% !important;
    }
    #carouselExample .slider-text .btn-danger{
        font-size: 10px;
    }
    h2{
        font-size: 25px !important;
    } 
    #carouselExample button.carousel-control-prev, 
    #carouselExample button.carousel-control-next {
        margin-top: 50% !important;
    }
    #membership-options .row {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centers the cards */
    }
}

    


/*Navbar styling*/
.navbar{
    background-color: #d3d3d3;
}

.nav-item{
    margin-right: 15px;
    white-space: nowrap;
}

.nav-item .nav-link{
    color: #000000;
    font-weight: 500;
    font-family: 'roboto', sans-serif;
    font-size: 13pt;
    text-align: center;
}

.navbar .navbar-brand{
    margin-right: 30px;
}

/*Slider styling*/
#carouselExample{
    background-color: #a6c1da;
}
@font-face {
    font-family: 'Sakana';
    src: url('res/Sakana.ttf') format('truetype');
}

.slider-text{
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
}


.slider-text h1 {
    font-family: 'Sakana', sans-serif;
    font-size: 45px;
    color: #ed0000;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9);
}

.slider-text p {
    font-family: 'roboto', sans-serif;
    font-size: 22px;
    color: #f0f0f0;
    font-weight: 400;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}

.slider-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('res/FFC_Slider1.jpg');
    background-size: cover; /* Cover the entire area */
    filter: blur(60px); /* Adjust the blur amount */
    opacity: 0.6; 
    z-index: -1; 
}

#carouselExample .carousel-item {
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
}

#image-slider-button {
    width: 50px;
    height: 50px;
    margin-top: 25%;
    margin-bottom: 25%;
}

/*Cards styling*/
#carouselExample .carousel{
    height: 100vh;
    align-items: center;
    margin-right: 50px;
    background-color: #939393;
    width: 100%;
    height: fit-content;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#carouselExample .carousel-inner .carousel-item img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

/*Membership options*/
#memberships{
    background-color: #3553cb;
}

#membership-options .card {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

#memberships h1{
    font-family: 'sakana', sans-serif;
    color: #282828;
    font-size: 45px;
}

/*Client Reviews*/
#client-reviews{
    background-color: #339200;
}

h2{
    font-family: 'sakana', sans-serif;
    color: #282828;
    font-size: 45px;
    margin-top: 10px;
}

#clientReviewsCarousel .carousel-control-prev,
#clientReviewsCarousel .carousel-control-next {
    margin-top: 0;
    margin-bottom: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -20px;
    margin-right: -20px;  
}

#clientReviewsCarousel .card{
    background-color: #a6c1da;
}

/*blog section*/
#blog-link{
    background-color: #f157ff;
    margin-top: -25px;
}

#blog-link .container #col .card .card-body{
    text-align: left;
}

/*contact section*/
#contact{
    background-color: #ffd857;
}

#contact form label{
    font-family: 'roboto', sans-serif;
    font-size: 13pt;
    font-weight: 500;
}

/*footer*/
footer{
    background-color: #8895c7;
}

footer .footer-content ul li a{
    text-decoration: underline;
    color:#000000;
    font-family: 'roboto', sans-serif;
}
